HackTrack.json
{
  "name": "HackTrack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [0, 5],
              "triggerAtHour": 18,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1760, 176],
      "id": "720ff165-31b5-4231-8485-f9a85928656c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json?engine=google&q=hackathon+India+site:devfolio.co+OR+site:unstop.com+OR+site:mlh.io&hl=en&gl=in",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-1312, 176],
      "id": "7bf03e39-701e-4f81-adb4-e3da59a5640c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "organic_results"
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-1088, 176],
      "id": "687c33f6-5be2-4490-9f9d-ff4514e106d8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.link && ($json.link.includes(\"devfolio.co\") || $json.link.includes(\"unstop.com\") || $json.link.includes(\"mlh.io\")) }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-864, 176],
      "id": "45194b88-c7c1-442a-a74d-65a091b2a8c3",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ROLE: Notification Formatter\n\nYou are NOT a chat assistant.\nYou do NOT explain anything.\nYou do NOT add extra text.\n\nInput is a list of hackathon/event items.\n\nRules:\n1. Output plain text only.\n2. Each event must include title and link.\n3. If input is empty output exactly: \"No new hackathons today.\"\n\nInput:\n{{ $json }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-640, 48],
      "id": "ed350069-4e1f-421a-bd52-8165c14cad28",
      "name": "Remainder"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.output }}",
              "rightValue": "No new hackathons today.",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-288, 48],
      "id": "1ea3a841-4eaf-49c1-861b-1d83d87466ac",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an automated hackathon notification assistant.\n\nA new hackathon is available.\nGenerate a professional and motivating email with details and a call to action.\n\nEnd with:\nBest regards,\nHackathon Alert Bot\n"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-64, 320],
      "id": "24b5d168-aed5-4b8f-8933-4ba70a09af31",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sendTo": "pavananish47@gmail.com",
        "subject": "Hackathon Alert",
        "message": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [288, 320],
      "id": "b9975922-2afc-4103-aeab-2bbd1fa425c4",
      "name": "Send a message"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Split Out", "type": "main", "index": 0 }]]
    },
    "Split Out": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [
        [{ "node": "Remainder", "type": "main", "index": 0 }],
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "Remainder": {
      "main": [[{ "node": "If1", "type": "main", "index": 0 }]]
    },
    "If1": {
      "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5be3c9d-90bf-4abd-8955-c1016331fa8d",
  "id": "x6ihvVbxSwvKjUZU",
  "tags": []
}
